<a href="{{post.url}}">
  <div class="card w-96 bg-base-100 shadow-xl">
    <figure><img src="{{post.data.image}}" alt="{{post.data.imageAlt}}" class="w-full h-52 object-cover" loading="lazy"/></figure>
    <div class="card-body">
      <div class="h-40 overflow-hidden">
        <h2 class="card-title">{{ post.data.title }}</h2>
        <p class="h-3"></p>
        <p>by <span class="text-primary-content">{{post.data.author}}</span> on <span class="text-primary-content">{{post.date | postDate}}</span></p>
        <p class="h-3"></p>
        <p>{{post.data.description}}</p>
      </div>
      <div class="card-actions justify-end">
        <a href="{{ post.url}}" class="btn btn-primary">Continue Reading</a>
      </div>
    </div>
  </div>
</a>