<div class="grid place-items-center">
    <form id="contact" method="post" name="Contact Form" data-netlify-recaptcha="true" netlify-honeypot="hpfield" data-netlify="true" class="text-center sm:w-2/5">
        <h2 class="text-xl font-bold">Contact Form</h2>
        <input class="hidden" name="hpfield">
        <p class="py-1">
            <input type="text" name="name" id="name" placeholder="Name" class="input input-bordered w-full">
        </p>
        <p class="py-1">
            <input type="email" name="email" id="email" placeholder="Email"  class="input input-bordered w-full">
        </p>
        <p class="py-1">
            <textarea name="message" id="message" placeholder="Your Message" class="textarea textarea-bordered w-full textarea-lg"></textarea>
        </p>
        <div class="sm:w-2/5 m-auto py-1">
            <div data-netlify-recaptcha="true"></div>
        </div>
        <p>
            <input type="submit" class="btn btn-primary">
        </p>
    </form>
</div>