<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <span>Tim Heidler</span>
      </div>
      <nav>
        <ul class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
          <li>
            <a href="/about/">About</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
