---
title: Blog
layout: 'base.njk'
---

<div class="text-center py-6">
  <div>
    <h2 class="text-3xl font-bold">Recent articles</h2>
  </div>

  <div class="flex flex-row flex-wrap justify-center">
    {%- for post in collections.post | reverse -%}
      <div class="carousel-item  m-5">
        {% include
      "article-snippet.njk" %}
      </div>
    {%- endfor -%}

  </div>
</div>