---
title: Home
layout: "base.njk"
---

<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="/assets/hero.png" class="max-w-sm rounded-lg shadow-2xl"/>
    <div>
      <h1 class="text-5xl font-bold">Welcome to my blog!</h1>
      <p class="py-6">I use this space to document my adventures in development, sharing how I’ve overcome issues I’ve run into, useful resources, and more.</p>
      <p class="py-6">Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
      <a href="#featured-articles" class="btn btn-primary">Featured articles</a>
      <a href="./blog" class="btn btn-neutral">Most recent articles</a>
    </div>
  </div>
</div>

<div class="text-center py-6">
  <div>
    <h2 class="text-3xl font-bold">Featured articles</h2>
    <p class="py-6">
      Here is a sample of articles which I feel give you a good idea of what
      this site is all about.
    </p>
  </div>

  <div class="flex flex-row flex-wrap justify-center">
    {%- for post in collections.featured | reverse -%}
      <div class="carousel-item  m-5">
        {% include
      "article-snippet.njk" %}
      </div>
    {%- endfor -%}

  </div>
</div>
{% include "form.njk"%}