:root {

  --fs-P: 1rem;
  --fs-H3: 1.4rem;
  --fs-H2: 1.9rem;
  --fs-h1: 2rem;

  --ff-body: "Roboto", sans-serif;
  --ff-h: "Roboto", sans-serif;

  --clr-accent-LIGHT: #65bacf; 
  --clr-accent-DARK: #1181B2;
  --clr-bg: #212221;
  --clr-bg-accent: #212529; 
  --clr-txt: #DDEDF4; 
  --clr-txt-ACCENT: #65bacf; 
  --clr-txt-DARK: #212529;
  
}

@media (min-width: 35em) {
  :root {
    --fs-P: 1rem;
    --fs-H3: 1.5rem;
    --fs-H2: 2.25rem;
    --fs-h1: 3rem;
  }
}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
header ul,
#featured-articles ul,
header ol,
#featured-articles ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--clr-bg);
}
main{
  min-height: 80vh;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: var(--clr-txt-ACCENT);
}

pre{
  background: var(--clr-bg-accent);
  padding: 20px;
  display: block;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-P);
  color: var(--clr-txt);
}

h1,
h2,
h3 {
  font-family: var(--ff-h);
  font-weight: 900;
  line-height: 1.1;
}

strong {
  font-weight: 700;
}

section,
.section {
  padding: min(10vh, 10em) 0;
}

/* //////////////////////
  Utility Classes
  /////////////////////// */

/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.container {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 72rem;
}

.container--narrow {
  max-width: 65rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.text-center {
  text-align: center;
}

/* typgraphy */

.article-title,
.section-title {
  color: var(--clr-accent-DARK);
}

.article-title {
  font-size: var(--fs-h1);
}

.section-title {
  font-size: var(--fs-H2);
}

/* //////////////////////
  Header
  /////////////////////// */

.page-header {
  padding: 2em 0;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: var(--clr-txt);
  text-decoration: none;
}

.nav-list a:focus,
.nav-list a:hover {
  color: var(--clr-accent-LIGHT);
  text-decoration: underline;
}

/* //////////////////////
  Footer
  /////////////////////// */

.site-footer {
  --logo-color: currentColor;
  padding: 2em 0;
  color: var(--clr-txt-DARK);
  background-color: var(--clr-accent-DARK);
  text-align: center;
}

/* //////////////////////
  Homepage
  /////////////////////// */

.hero > div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 3em;
}

.hero__image {
  width: 100%;
  /* max-height: max(15rem, 40vh); */
  object-fit: cover;
}

@media (min-width: 45em) {
  .hero > div {
    grid-auto-flow: column;
  }
}

.featured-articles {
  background-color: var(--clr-bg-accent);
}

.articles__list {
  --flow-spacer: 3rem;
  margin: 6rem 0;
}

/* //////////////////////
  Individual article page
  /////////////////////// */

.main-article {
  margin-bottom: 3rem;
}

.main-article__figure figcaption {
  margin: 1rem 0;
  font-size: var(--fs-P);
  opacity: 0.9;
}

/* //////////////////////
  Article snippets
  /////////////////////// */

.snippet {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "image"
    "title"
    "meta"
    "body"
    "button";
}

.snippet__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.snippet__title {
  grid-area: title;
}
.snippet__meta {
  grid-area: meta;
  color: var(--clr-txt-ACCENT);
}

.snippet__meta span {
  color: var(--clr-txt);
}

.snippet .btn {
  grid-area: button;
}

.snippet__title {
  color: var(--clr-txt);
  font-size: var(--fs-H3);
}

.snippet__title a {
  color: inherit;
  text-decoration: none;
}

.snippet__title a:hover,
.snippet__title a:focus {
  color: var(--clr-accent-DARK);
}

@media (min-width: 45em) {
  .snippet {
    grid-template-areas:
      "title image"
      "meta image"
      "body image"
      "button image";
    grid-column-gap: 4em;
    grid-template-columns: 1fr 40%;
    grid-template-rows: min-content min-content min-content 1fr;
  }
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

.btn:focus {
  outline: 0.125em solid var(--clr-accent-LIGHT);
  outline-offset: 0.25em;
}

.btn--primary {
  background: var(--clr-accent-LIGHT);
  color: var(--clr-txt-DARK);
  font-weight: 700;
  border: 2px solid var(--clr-accent-LIGHT);
}
.btn--primary:hover,
.btn--primary:focus {
  background: var(--clr-accent-DARK);
  border-color: var(--clr-accent-DARK);
}

.btn--neutral {
  background-color: var(--clr-bg);
  color: var(--clr-txt);
  font-weight: 700;
  border: 2px solid var(--clr-txt);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-txt-DARK);
  background-color: var(--clr-txt);
}

/* //////////////////////
  Form
  /////////////////////// */

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.form-p{
  width: 75vw;
}
.form-btn{
  margin-top: 1rem;
}
.form-input{
  width: 75vw;
  background-color: rgb(43, 48, 53);
  border: transparent;
  color: var(--clr-txt);
}
.message{
  height: 5rem;
}

.hidden {
  display:none
}
